.grid {
  text-align: center;
  display: flex;
  flex-direction:column;
  justify-content: center;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 65px;
}


.like {
  text-align: center;
  border-bottom: 2px solid gray;
  width: 100%;
  margin-bottom: 35px;
}

.all {
  text-align: center;
  border-bottom: 2px solid gray;
  width: 100%;
  margin-top: 100px;
}
